<h1>You searched for "<%= @q.capitalize %>" on Google product search</h1>

<hr>
<% @results["items"].each do |result| %>
  <div>

<h2><%= result["product"]["title"] %></h2>

	<p>Suggested price: $<%= result["product"]["inventories"][0]["price"] %> + $<%= result["product"]["inventories"][0]["shipping"] %> in shipping.</p>

    <p><img src="<%= result["product"]["images"][0]["link"] %>"></p>
    <p>Description: <%= result["product"]["description"] %></p>
	<p><a href="<%= result["product"]["link"] %>">Buy Now!</a></p>

	<hr>

  </div>
<% end %>

<p></p>
<p></p>
<p><a href="/ ">Go back to Home</a></p>




