<h1>You searched for <%= @q %> on Google product search</h1>

<% @results["items"].each do |result| %>
  <div>

<p><%= result["product"]["title"] %> suggested price: $<%= result["product"]["inventories"][0]["price"] %> + $<%= result["product"]["inventories"][0]["shipping"] %> in shipping.</p>

    <p><img src="<%= result["product"]["images"][0]["link"] %>"></p>
    <p>Description: <%= result["product"]["description"] %></p>
	<p><a href="<%= result["product"]["link"] %>">Buy Now!</a></p>

    <p>+++</p>


  </div>
<% end %>



