<h1>You searched for <%= @q %></h1>
    <hr>

<% @results["results"].each do |result| %>
  <div>
<%= result["from_user"].capitalize %>
<a href="http://www.twitter.com/<%= result["from_user"] %>">
	<img src="<%= result["profile_image_url"] %>"></a> says:
    <p><%= result["text"] %></p>
    <hr>
  </div>
<% end %>




<p></p>
<p></p>
<p><a href="/ ">Go back to Home</a></p>


