



<table>
	<tr>
		<th>Item Name</th>
		<th>Price</th>
		<th class="align-center">Sale</th>
		<th>Sale</th>
		<th>Update</th>
		<th>Remove</th>

	</tr>
	<% @rs.each do |row| %>
		<tr>
			<td><%= row[0] %></td>	
			<td><%= row['name'] %></td>
			<td><%= row['price'] %></td>
			<td class="align-center"><% if row['on_sale'] == 't' %>
				<img src='http://profile.ak.fbcdn.net/hprofile-ak-ash4/373279_81502226948_2134466251_q.jpg'>
				<% end %>
	
			</td>
			<td><a href="/products/<%= row[0] %>/edit">Update</a></td>
			<td><a href="/products/<%= row[0] %>/remove">Remove</a></td>

	
	



		</tr>
	<% end %>
</table>


<p><a href="<%= @home %>">Go back to Home</a></p>
