



<table>
	<tr>
		<th>Item Name</th>
		<th>Price</th>
		<th class="align-center">Sale</th>
		<th>Sale</th>
		<th>Update</th>
		<th>Remove</th>
		<th>Twitter</th>
		<th>Google</th>
		

	</tr>
	<% @rs.each do |row| %>
		<tr>
			<td><%= row[0] %></td>	
			<td><%= row['name'] %></td>
			<td><%= row['price'] %></td>
			<td class="align-center"><% if row['on_sale'] == 't' %>
				<img src='http://profile.ak.fbcdn.net/hprofile-ak-ash4/373279_81502226948_2134466251_q.jpg'>
				<% end %>
			</td>
			<td><a href="/products/<%= row[0] %>/edit">Update</a></td>
			<td><a href="/products/<%= row[0] %>/delete">Delete</a></td>
			<td>
      			<a href="/products/twittersearch?namers=<%= URI.escape(row['name']) %>">Search on Twitter</a>
		    </td>
		    <td>
				<a href="/products/googlesearch?namers=<%= URI.escape(row['name']) %>">  More Google</a>
		    
			</td>	
	



		</tr>
	<% end %>
</table>


<p><a href="<%= @home %>">Go back to Home</a></p>
